.bz-slider-icon {
  background-color: rgba(155, 24, 24, 0.2);
  border-radius: 25%;
}

.size-of-icons {
  width: 20px;
}

.banner {
  width: 100%;
  height: 60vh;
  /* background-image: linear-gradient(-90deg, rgba(173, 173, 173, 0.01), rgb(107, 76, 76)), url("../../images/banner-img.jpg"); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.colors div {
  /* width: 20px;
  height: 20px;
  border-radius: 50%; */
}

.variations span {
  border: 1px solid gray;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 6px;
  border-radius: 10px;
}

.variations span:hover {
  background-color: gray;
  color: white;
  transition: ease-in-out;
  transition-delay: 100ms;
}

.installment {
  background-color: red;
  position: absolute;
  width: 100%;
  left: 0rem;
  top: -20px;
  opacity: 0;
  border-radius: 10px 10px 0px 0px;
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.installment p {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  0% {
    top: -20px;
  }

  100% {
    top: 0;
  }
}

.card:hover .installment {
  top: 0;
  opacity: 1;
}

.footer {
  margin-top: 60px;
  background-color: rgb(255, 185, 185);
  padding: 32px 0px;
}

.footer nav>a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}